.gbie-wrapper{
  // @include flUI-grid;
}

.gbie-header {
  height: 100px;
  background-color: red;
  color: white;
  // @include flUI-span(12);
}

.gbie-sidebar {
  // @include flUI-span(4);
}

.gbie-main {
  // @include flUI-span(8);
}
