@function px-to-rem($pixel) {
  @return ($pixel / 16) * 1rem;
}

@mixin flUI-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto px-to-rem(8);

  // > 1366 pixel
  column-gap: px-to-rem(32);
  row-gap: px-to-rem(32);

  // < 1366 pixel
  @media screen and (max-width: 1366px) {
    column-gap: px-to-rem(24);
    row-gap: px-to-rem(24);
  }

  // <= 640 pixel
  @media screen and (max-width: 640px) {
    column-gap: px-to-rem(16);
    row-gap: px-to-rem(16);
  }
}

@mixin flUI-span($span, $start: auto, $row: auto) {
  grid-column: $start / span $span;
  grid-row: $row;

  /* media query for small devices */
  @media screen and (max-width: 480px) {
    grid-column: 1 / span 12;
    grid-row: auto;
  }
}
