.gbie-wrapper{
  // font-family: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400; // Set all back to regular
}

.gbie-header {
  display: none;
}

.gbie-sidebar {
  display: none;
}

.gbie-main {}
