@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import "fonts";
@import "mixin";

$base-color: #da3280;

.goodbyeIe{
	content: "";

	%flex{
		font-size: 150%;
		font-weight: bold;

		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;
		background-color: $base-color;
		color: white;

		background-color: var(--primaryButtonBackground);
		color: var(--primaryButtonText);
	
	}

	:global{
		.gbie-wrapper{
			// @extend %flex;
		}
		.gbie-header{
			@extend %flex;
		}

		.gbie-sidebar{
			@extend %flex;
		}

		.gbie-main{
			@extend %flex;

			min-height: 300px;
		}
	}


	&[class*="is-webpart"]{
		:global{
			@import "webpart";
		}
	}

	&[class*="is-fullpage"]{

		:global{
			@import "fullpage";
		}
	}

	&[class*="is-teams"]{
		:global{
			@import "teams";
		}
	}
}
